.cardRow {
  display: flex;
  justify-content: center;
}

.wCard {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
  height: 40vh;
  background-color: #16394c;
  border: 4px solid #608094;
  border-radius: 5px;
  color: white;
  .headerRow {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
    height: 5vh;
    h5 {
      margin: 0;
      margin-top: 1rem;
    }
    img {
      margin-top: 1rem;
      width: 1.5rem;
      cursor: pointer;
    }
  }
  .currWeatherRow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
    h3 {
      margin: 0;
      font-weight: bold;
    }
    .infoCol {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p {
        margin: 0;
      }
    }
  }

  .forecastRow {
    display: flex;
    justify-content: space-around;
    .forecastCol {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 1rem;
      img {
        width: 5rem;
      }
      p {
        margin: 0;
      }
    }
  }
}

@media (max-width: 960px) {
  .wCard {
    width: 90%;
    height:50vh;
    padding:0.5rem;
    .currWeatherRow {
        img{
            width:5rem;
        }
    }
    .forecastRow {
      .forecastCol {
        img {
          width: 3rem;
        }
        p{
        text-align: center;
        }
      }
    }
  }
}
